---
pageable: true
per_page: 1
---

<% page_articles.each_with_index do |article, i| %>
    
    <h2><%= link_to article.title, article %></h2>
    <p class="meta-blog"><span class=""><i class="fa fa-user"></i> <%= article.data.author %> &nbsp;&nbsp;<i class="fa fa-calendar"></i> <%= article.date.strftime('%d %B %Y') %> &nbsp;&nbsp;<i class="fa fa-tags"></i> <% article.tags.each do |tag| %> <a href="/tags/<%= tag %>"><%= tag %></a><% end %></span></p>
    
    <img class="img img-responsive" src="posts/<%= article.data.featured_image %>">
    <!-- use article.summary(250) if you have Nokogiri available to show just
        the first 250 characters -->
    <%= article.summary(250) %>
    <hr>
  
<% end %>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
